* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background: whitesmoke;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

header {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 5fr 1fr;
  padding-block: 0.5%;
  font-size: 1rem;
  position: fixed;
  cursor: pointer;
  padding-inline: 2%;
  z-index: 99;
}

.head-link {
  text-decoration: none;
  color: black;
}

.search {
  position: relative;
  padding-top: inherit;
}

.search input {
  width: 70%;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #f5f5f5;
}

.search i {
  position: absolute;
  left: 66%;
  top: 33%;
  cursor: pointer;
}

.user-pic {
  width: 3%;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 5%;
}

/* dropdown menu */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  background: #92e3a9;
  border-radius: 0.5rem;
  padding: 1.1rem;
}

.sub-menu-link {
  padding: 0.2rem;
  text-decoration: none;
  color: black;
}

.sub-menu-link:hover {
  color: black;
  font-weight: 600;
}

.fa-regular {
  padding: 0.6rem;
  margin-right: 0.6rem;
  border-radius: 50%;
  background: #e5e5e5;
  color: black;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 6%;
  height: 100%;
  background: #92e3a9;
  overflow-x: hidden;
  transition: top 0.5s;
}

.sidebar ul {
  margin-top: 1rem;
}

.sidebar ul li,
.sidebar a {
  font-size: 1rem;
  width: 100%;
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 0.4rem 0.7rem;
  display: flex;
  align-items: center;
}

.nav-link i {
  color: black;
  font-size: 1.4rem;
  min-width: 60px;
}

/* main */

main {
  position: absolute;
  left: 230px;
  width: calc(100% - 230px);
}

.cards {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.cards a {
  text-decoration: none;
  color: black;
}

.card {
  display: flex;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 700;
  border-radius: 0.5rem;
  flex-direction: column;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.cards i {
  font-size: 5rem;
  padding-block-end: 3rem;
}

.charts,
.chart2 {
  position: relative;
  top: 270px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.chart2 {
  top: 285px;
  grid-template-columns: 1.5fr 1.5fr;
}

.donut-chart,
.bar-chart,
.current {
  background: white;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  padding-inline: 1rem;
}

.fa-solid {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

/* responsiveness starts here */

@media (max-width: 1115px) {
  .user-pic {
    width: 5%;
  }

  header {
    grid-template-columns: 1fr 3fr 5fr 1fr;
  }

  .search i {
    display: none;
  }

  .sidebar {
    top: 5%;
    width: 80px;
  }

  main {
    left: 80px;
    width: calc(100% - 80px);
  }
}
@media (max-width: 1112px) {
  .user-pic {
    width: 5%;
  }

  .search i {
    display: none;
  }

  .sidebar {
    top: 5%;
    width: 80px;
  }

  main {
    left: 80px;
    width: calc(100% - 80px);
  }
}

@media (max-width: 880px) {
  .user-pic {
    width: 5%;
  }

  .search i {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .charts {
    top: 470px;
    grid-template-columns: repeat(1, 1fr);
  }

  .chart2 {
    top: 480px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr 5fr 1fr;
  }

  .search i {
    display: none;
  }

  .search {
    display: none;
  }

  .user-pic {
    width: 10%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .charts {
    top: 860px;
    grid-template-columns: repeat(1, 1fr);
  }

  .chart2 {
    top: 875px;
    grid-template-columns: repeat(1, 1fr);
  }
}
