

.sidebar-nav .expand { 
    height: 100vh;
}
   
  


/*  Miling List page styles */
.mailing-list {
    padding-top: 3rem;
    margin-bottom: 10rem;
    overflow: scroll;
    
   
  }

  table {
    font-size: 0.8rem;
  }

  .generate-btns .list-option-btn {
    display: inline-block;
    margin: 0 2rem;
    width: 5rem !important;
    margin-bottom: 1rem;
  }

  .generate-btns .list-option-btn:hover {
    background-color: #92e3a9;
    color: whitesmoke;
  }

  #copy-btn:hover {
    background-color: #92e3a9;
    color: whitesmoke;
  }