

.sidebar-nav .sidebar-item a::before {
    content: attr(data-text); /* Use the text content as the content for pseudo-element */
    position: absolute;
    top: 0;
    left: -100%; /* Initially position the text outside */
    width: 100%;
    visibility: hidden;
    height: 100%;
    padding-left: 7rem;
    background-color: rgba(0, 0, 0, 0.5); /* Background color of the overlay */
    color: #fff; /* Text color */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align text to the right */
    padding-right: 10px; /* Add some padding */
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar-nav .sidebar-item a:hover::before {
    left: 0; /* Slide the text in from the left */
    visibility: visible;
    z-index: 1000;
  }
  


/*  Miling List page styles */
.mailing-list {
    margin-top: 3rem;
    overflow: scroll;
  }

  table {
    font-size: 0.8rem;
  }

  .generate-btns .list-option-btn {
    display: inline-block;
    margin: 0 2rem;
    width: 5rem !important;
    margin-bottom: 1rem;
  }

  .generate-btns .list-option-btn:hover {
    background-color: #92e3a9;
    color: whitesmoke;
  }

  #copy-btn:hover {
    background-color: #92e3a9;
    color: whitesmoke;
  }